<VirtualHost *:#PORT#>
  SSLEngine on
  SSLCertificateFile      /etc/ssl/certs/apache.crt
  SSLCertificateKeyFile /etc/ssl/private/apache.key
  
  RequestHeader set X-Forwarded-Host #HOST#
  RequestHeader set X-Forwarded-Proto https
  RequestHeader set X-Forwarded-Port #PORT#
  
  ServerName "#HOST#"
  ProxyPreserveHost Off
  ProxyPass /  http://ingress.nearmi/repo/
  ProxyPassReverse / http://ingress.nearmi/repo/
</VirtualHost>